<section class='nav-mb'>
  <div class='container'>
    <h2>Campanhas Padrão</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Para Campanha Padrão sobre a comunicação do Mecanismo de Integridade e Compliance,
       disponibilizamos um catálogo com diversas peças de comunicação prontas, criadas sob 
       possibilidade de customização com aplicação da marca de sua empresa. Adquirindo o
        “Pack Comunicação”, você pode selecionar até 3 (três) peças de acordo com o seu
         interesse e forneceremos as matrizes, para você providenciar a produção, sem gastar energia na elaboração, 
      desenvolvimento de modelos, etc. Se desejar adquirir mais peças, consulte a Compliance Total.</p>

      <p>Exemplos de peças: folder, banner, adesivo, cartaz, email marketing, móbile de teto, entre outros.</p>
      <h3>Desafios das Campanhas Padrão:</h3>
      <ul>
          <li>Promover o Compliance de forma pontual e, ao mesmo tempo, impactante e abrangente.</li>
          <li>Chamar a atenção de todos.</li>
          <li>Estabelecer algum vínculo do Compliance com determinadas datas 
          importantes, para a empresa e/ou para o tema</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-campanhas-padrao.jpg') %> 
      </div>
    </div>
  </div>
</section>