<section class='nav-mb'>
  <div class='container'>
    <h2>Compliance em Quadrinhos</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>O Compliance em Quadrinhos propõe uma abordagem diferenciada e sutil à sensibilização
       dos leitores para que ajam com ética e integridade. Assim, as histórias apresentam 
       personagens fictícios e que relatam situações comuns do cotidiano. </p>
     <h3>Como funciona:</h3>
      <p class="pt-3">As histórias são elaboradas, diagramadas e as matrizes fornecidas para as empresas.
       Partes como capa e contracapa podem ser customizadas com o logo da empresa e uma breve
        introdução (sugere-se uma mensagem do CEO). Desta forma, basta enviar à gráfica e distribuir
         para todos os seus colaboradores e também fornecedores, parceiros, clientes, etc.

</p>

    
      <h3>Desafios do Compliance em Quadrinhos:</h3>
      <ul>
          <li>Aproximar o Compliance das pessoas.</li>
          <li>Comunicar de forma lúdica e agradar a todos.</li>
          <li>Levar o tema para suas casas, família, amigos...</li>
      

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-compliance-em-quadrinhos.jpg') %> 
      </div>
    </div>
  </div>
</section>