<section class='nav-mb'>
  <div class='container'>
    <h2>Compliance Alerta</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Os Compliance Alertas são e-mails textuais com conteúdos chave para a manutenção do Mecanismo de
       Integridade e Sistema de Compliance e do compromisso com a conformidade. Assuntos como confidencialidade,
        concorrentes/antitruste, Lei 12.846/13, entre diversos outros, são tratados com diferentes periodicidades, 
        de acordo com a criticidade, de forma simples, direta e de rápida leitura, com a finalidade de manter o público
         sempre interessado. </p>
     <h3>Como funciona:</h3>
      <p class="pt-3">Semanalmente, são enviados e-mails para os colaboradores contendo variados assuntos
       em uma mesma mensagem (tal como um e-mail marketing). Os assuntos devem ser
        escolhidos/priorizados conforme os objetivos de Compliance da empresa. 
        Este conteúdo também pode ser divulgado na intranet, em reuniões e para terceiros.</p>

    
      <h3>Desafios do Compliance Alerta:</h3>
      <ul>
          <li>Comunicar regularmente.</li>
          <li>Não ser cansativo nem repetitivo.</li>
          <li>Reforçar o conteúdo, de acordo com o grau de importância.</li>
          <li>Ser conciso, para que todos leiam toda a mensagem.</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-compliance-alerta.jpg') %> 
      </div>
    </div>
  </div>
</section>