<section class='nav-mb'>
  <div class='container'>
    <h2>Comunicação Externa</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>A Comunicação Externa é composta por e-mails textuais com conteúdos chave para a divulgação do 
      Mecanismo de Integridade e Compliance aos parceiros, terceiros, principais fornecedores e demais 
      públicos externos de sua empresa. Apresentados de forma simples, direta e de rápida leitura, 
      possuem a finalidade de manter 
      o público sempre interessado, podendo também serem divulgados em sua intranet e reuniões, por exemplo. </p>
     
    
      <h3>Desafios da Comunicação Externa:</h3>
      <ul>
          <li>Disseminar a cultura da ética e integridade para o público externo.</li>
          <li>Comunicar regularmente, sem ser cansativo nem repetitivo.</li>
          <li>Ser conciso, para que todos leiam toda a mensagem.</li>
      

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-comunicacao-externa.jpg') %> 
      </div>
    </div>
  </div>
</section>