<section class='nav-mb'>
  <div class='container'>
    <h2>Due Diligence</h2>
    <hr>
    <div class="row">
      <div class="col-12">
      <p>A experiência mostra que a grande maioria dos casos de corrupção envolve terceiros, 
      razão pela qual, a gestão eficiente deste relacionamento se torna condição obrigatória para as empresas.
       A Due Diligence de Integridade (DDI) é incentivada por autoridades de diversos países, pois configura-se
        como fator relevante para mitigar os respectivos riscos. A DDI tem o propósito de identificar fatos
         ou indícios incoerentes com a ética e integridade, os quais podem expor a contratante a riscos dos
          mais variados. </p>
     
    
      <h3 class="pt-3 pb-1">Como funciona</h3>
      <p>A Compliance Total realiza pesquisas reputacionais em diversos bancos de dados, analisa os
       resultados e disponibiliza o relatório a sua empresa, de acordo com o grau de detalhe
        desejado e conforme a exposição a riscos, que o referido terceiro impõe à contratante.
       Assim, são oferecidos três níveis de Due Diligence de Integridade:

      </div>
 
    </div>
    <div class="col-12">
  </div>
</section>