<section class='nav-mb'>
  <div class='container'>
    <h2>O Que Você Faria?</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p> Em formato de quiz, aborda os aspectos mais importantes do Mecanismo de Integridade e Compliance, sendo realizado
       por meio de diversos vídeos curtos que apresentam, de forma divertida e instrutiva, variados dilemas éticos.</p>
     <h3>Como funciona:</h3>

      <p class="pt-3">Os colaboradores recebem por e-mail o link de acesso ao vídeo e, ao fim deste, são incentivados a 
      responder uma questão sobre o tema abordado. Posteriormente, de forma automática, inicia-se um novo 
      vídeo com comentários de um experiente Compliance Officer sobre as alternativas apresentadas. 
      Essa atividade lúdica dura cerca de 5 minutos e o usuário pode assistir quantas vezes desejar. 
      Um feedback valioso ao Compliance Officer é gerado automaticamente pelo sistema, por meio de estatísticas, permitindo, assim, a adoção de eventuais medidas,
       como treinamentos específicos ou comunicação adicional, caso algum indicador esteja abaixo do desejado.</p>

    
      <h3>Desafios do O Que Você Faria?</h3>
      <ul>
          <li>Atrair as pessoas e incitar à reflexão.</li>
          <li>Comunicar e, ao mesmo tempo, oferecer um momento agradável.</li>
          <li>Criar interesse para as próximas comunicações.</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-o-que-voce-faria.jpg') %> 
      </div>
    </div>
  </div>
</section>