<section class='nav-mb'>
  <div class='container'>
    <h2>Plano de Comunicação de Compliance</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>O Plano de Comunicação abrange todos os produtos do Pack Comunicação e é oferecido gratuitamente para
       quem adquirir o pacote completo. Apresenta a vantagem de integração dos temas e o usuário aproveita
        a arquitetura do conjunto, pois o conteúdo de cada produto foi planejado de modo a abordar os assuntos mais importantes e na frequência adequada para uma excelente disseminação. Se o cliente adquirir os pacotes Treinamento e Comunicação,
       terá, assim, um Plano completo para comunicar, treinar, qualificar e sensibilizar os funcionários.</p>

       <p>Sugere uma estratégia clara e os principais objetivos de comunicação do Mecanismo de Integridade
        e Compliance, apresentando cronograma inteligente capaz de considerar a importância de cada tema 
        frente a sua frequência de abordagem, interação dos veículos e conteúdos, etc.</p>
     
    
      <h3>Desafios do Plano de Comunicação:</h3>
      <ul>
          <li>Estabelecer estratégia e um plano de comunicação profissional, integrado e que assegure sucesso.</li>
          <li>Criar cronograma de ações de modo a atender todos os objetivos de comunicação.</li>
          <li>Integrar todos os demais produtos de comunicação de forma inteligente e efetiva.</li>
      

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-plano-de-comunicacao.jpg') %> 
      </div>
    </div>
  </div>
</section>