<section class='nav-mb'>
  <div class='container'>
    <h2>Reuniões Gerenciais</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Trata-se de uma prática voltada para a comunicação direta a gerentes e líderes, 
      por meio de apresentações sucintas e regulares, durante reuniões existentes na empresa.</p>

       <p>Fornecemos slides e script para a apresentação. Com isso, representantes do Compliance de sua 
       empresa irão disseminar conceitos e informações importantes 
       para a sensibilização, comunicação e manutenção do Mecanismo de Integridade e Compliance.</p>
      <p>Temas como código de conduta, canal de denúncias, conflito de interesses, entre outros,
       são dispostos de modo a abranger o maior número de gestores e líderes.</p>
     
    
      <h3>Desafios das Reuniões Gerenciais:</h3>
      <ul>
          <li>Manter o Mecanismo de Integridade e Compliance vivo com o passar do tempo.</li>
          <li>Obter e manter o apoio da gerência e liderança da empresa.</li>
          <li>Comunicar uniformemente os temas para toda a empresa.</li>
      

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-comunicacao-reunioes-gerenciais.jpg') %> 
      </div>
    </div>
  </div>
</section>