<div class='top'>
 <div class='container about'>
    <h2>Sobre a <%= setting[:name] %></h2>
    <hr>
    <div class='row'>      
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <h4>Conheça quem somos</h4>
        <p>
          Somos uma empresa constituída com o propósito de disseminar a cultura da integridade e ética no âmbito corporativo, contribuindo, assim, para a formação de uma sociedade melhor e livre de ilicitudes, tal como corrupção. A empresa fornece serviços, ferramentas, treinamentos e geração de conteúdo no intuito de ajudar as instituições a implementar e manter Mecanismos de Integridade e Sistemas de Compliance. Ocupa posição de destaque o Mentoring CT©, que se trata de um modelo inovador e exclusivo, com excelente relação custo/benefício, para auxiliar as empresas a implementarem um Mecanismo de Integridade e Sistema de Compliance eficiente em um curto espaço de tempo, menos de 1 (um) ano. A nossa empresa conta com profissionais especializados, de alta competência e com larga experiência em Compliance.
        </p>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <%= image_tag("compliance-quem-somos.png", {class: 'image-quem-somos mt-5'})%>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class='container about'>
    <div class='row'>      
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <h4 data-toggle="tooltip" class='tooltip-element' title="Contribuir, proativamente, para o progresso da ética do mundo corporativo.">Visão de negócios</h4>
        <p>
          A empresa e seus colaboradores acreditam ser possível construir um Brasil melhor. Assim, deseja influenciar outras instituições e pessoas a aderirem esse movimento em favor da ética e da integridade, principalmente, por meio da criação de um Sistema de Compliance.
        </p>
        <p>
          Uma vez iniciado esse processo, não há mais volta. Haverá um controle social, vindo de dentro e fora da organização, que impõe um autocontrole e assegura a aplicação prática dos princípios preconizados pelo Compliance.
        </p>
        <p>
          As instituições assumem assim um papel central na mudança da cultura do país. Os seus princípios irão permear a força de trabalho. Criam um orgulho natural nas pessoas, que disseminam seus conhecimentos nos seus círculos privados: familiares, amigos, vizinhos e conhecidos. Outras empresas adotam a mesma referência e, paulatinamente, as lacunas para os desvios vão se fechando.
        </p>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <h4 data-toggle="tooltip" class='tooltip-element' title="Gerar conteúdo, treinar, capacitar e incentivar pessoas e instituições para implementar e manter mecanismos efetivos de combate à corrupção e desvios de conduta.">Nossa missão</h4>
        <p>
          No exercício de suas atribuições, a Compliance Total conta com a colaboração de profissionais experientes e com larga vivência nos assuntos relacionados à Compliance. Assim, são desenvolvidos e compartilhados aspectos técnicos e práticos sobre como implementar Mecanismos de Integridade e Sistemas de Compliance nas organizações, observando a necessidade de customização de acordo com a natureza de cada instituição.
        </p>
        <p>
          Treinamentos, palestras e workshops são meios de levar esse conhecimento mais rapidamente às pessoas. Além da capacitação aos interessados, a troca de experiência e o aprendizado contínuo complementam o ambiente propício para a disseminação da cultura de Compliance.
        </p>
      </div>
      <div class='col-sm-12 col-md-6 col-lg-6'>
        <h4>Valores que prezamos em nossa conduta</h4>
        <ul>
          <li>
            Nossas atitudes baseiam-se no mais elevado padrão ético e de respeito ao ser humano e suas relações.
          </li>
          <li>
            Somos uma empresa íntegra, cumpridora de suas obrigações legais e morais.
          </li>
          <li>
            Executamos nossas actividades com dedicação e amor.
          </li>
          <li>
            Buscamos incessantemente propiciar serviços e produtos de alta qualidade e que agreguem valor para nossos clientes.
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
          <ul>
              <li>
            Lutamos para satisfazer as necessidades e expectativas das nossas partes interessadas.
          </li>
          <li>
            Estabelecemos uma base sólida de parceria com empresas, especialistas e profissionais, que compactuam com a nossa filosofia.
          </li>
          <li>
            Comprometemo-nos com a busca de excelência em nossas atividades, processos e relacionamento com as partes interessadas.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

