<section class='nav-mb'>
  <div class='container'>
    <h2>Compliance EAD</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Oferecemos ao cliente uma plataforma própria EAD (educação à distância), para veiculação de treinamentos em vídeo aos seus colaboradores. São diversos módulos prontos, contendo os principais assuntos para sensibilização da ética, integridade e Compliance, tais como: canal de denúncia, comitês de ética, investigação, conflito de interesses, lavagem de dinheiro, antitruste, entre outros. O cliente pode solicitar o desenvolvimento de novos temas e, se desejar, pode inclusive sugerir conteúdos.</p>
      <p>Para fixação do aprendizado, ao longo dos vídeos são propostas perguntas e, no final, um teste, podendo o cliente customizar as notas de corte, para o sistema gerar, automaticamente, os respectivos certificados de conclusão para os aprovados. O sistema também permite uma gestão adequada dos participantes e dos “faltantes”.</p>
      <h3>Desafios do Compliance EAD:</h3>
      <ul>
          <li>Alcançar regularmente todos os funcionários, mesmo que estejam distantes da “matriz”, conciliando agenda de todos.</li>
          <li>Abordar todos os tópicos relevantes, de forma concisa e de fácil entendimento.</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-treinamentos-compliance-ead.jpg') %> 
      </div>
    </div>
  </div>
</section>