<section class='nav-mb'>
  <div class='container'>
    <h2>Kit Gestor</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Uma prática voltada para a sensibilização e comprometimento de gerentes e líderes, por meio da condução de reuniões diretamente com suas equipes, buscando a capilarização do Compliance em toda a empresa. Essa solução reforça o comprometimento e o apoio do “middle management” ao Mecanismo de Integridade e Compliance.

Esse produto foi testado com sucesso em diversas oportunidades e representa um enorme ganho para a empresa.</p>

      <h3>Desafios do Kit Gestor:</h3>
      <ul>
          <li>Promover o apoio e engajamento da alta e média gerência para as questões de Compliance.</li>
          <li>Eliminar eventuais resistências comuns nas posições de chefia e gerência.</li>
          <li>Fomentar o diálogo “chefe & subordinado” em torno da ética e integridade.</li>
      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-treinamentos-kit-gestor.jpg') %> 
      </div>
    </div>
  </div>
</section>