<section class='nav-mb'>
  <div class='container'>
    <h2>Plano de Treinamentos em Compliance</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>O Plano de Treinamento abrange todos os produtos do Pack Treinamento e é oferecido gratuitamente para quem adquirir o pacote completo. Apresenta a vantagem de integração dos temas e o usuário aproveita a arquitetura do conjunto, pois o conteúdo de cada produto foi planejado de modo a abordar os assuntos mais importantes e na frequência adequada para uma excelente disseminação. Se o cliente adquirir os pacotes Treinamento e Comunicação, 
      terá, assim, um Plano completo para comunicar, treinar, qualificar e sensibilizar os funcionários.</p>

      <p>Apresenta cronograma inteligente, considerando a relevância de cada tema para determinar a frequência de abordagem, os 
      conteúdos, os diferentes públicos-alvo, etc.</p>
      <h3>Desafios do Plano de Treinamentos:</h3>
      <ul>
          <li>Estabelecer uma estratégia e um plano de treinamento profissional, integrado e que assegure sucesso.</li>
          <li>Criar cronograma envolvendo todos os treinamentos, buscando a participação de todos.</li>
          <li>Estabelecer uma rotina adequada sem saturar as pessoas.</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-treinamentos-plano-de-treinamentos.jpg') %> 
      </div>
    </div>
  </div>
</section>