<section class='nav-mb'>
  <div class='container'>
    <h2>Train the Trainer</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Trata-se do material para o Compliance Officer ministrar cursos de capacitação para candidatos
       a instrutores, que serão responsáveis por replicar treinamentos presenciais na empresa.
        Este recebe também instruções prévias de como usar o material e definir o público que deve
         participar desse curso.</p>

      <p>Juntamente com os slides a serem utilizados pelo Compliance Officer, 
      acompanham as instruções e roteiros para cada parte do curso: teoria + prática + 
      avaliação + sessão de feedbacks.</p>
      <h3>Desafios do Plano de Treinamentos:</h3>
      <ul>
          <li>Numa empresa grande, é impossível o Compliance Officer assumir sozinho a responsabilidade de ministrar treinamentos presenciais na organização.
           Faz-se necessário formar instrutores para dividir essa tarefa e ganhar capilaridade na organização.</li>


      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-treinamentos-train-the-trainer.jpg') %> 
      </div>
    </div>
  </div>
</section>