<section class='nav-mb'>
  <div class='container'>
    <h2>Treinamentos Presenciais</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
      <p>Nossos treinamentos presenciais são elaborados de forma a abranger as questões 
      mais importantes para o Compliance: corrupção, cartel, antitruste, fraude, políticas
       internas e procedimentos, código de conduta, canal de denúncias e todos os demais elementos
        de um Mecanismo de Integridade e Compliance.</p>

      <p>Para cada público, é estabelecida a forma peculiar de tratamento, bem como os 
      detalhes pertinentes. Assim, os kits dos treinamentos permitem que um profissional
       de Compliance se prepare e possa ministrar o treinamento.</p>
       <p>Há duas formas principais para atender às necessidades dos nossos clientes:</p>
             <ul>
          <li>
          Treinamento fornecido como “Produto do Pack”. Aqui, são diversos treinamentos prontos, que contam com: a) slides, 
          incluindo transposições e animações (no formato PowerPoint); b) script, no formato Word, com textos prontos, 
          explicando cada linha do slide e orientando o instrutor no que pode e deve ser falado; c) planejamento dos tempos, 
          com uma proposta de tempo para cada conjunto de slide; d) “fichas lembrete”, que são as chamadas “colinhas”, 
          com palavras chave para auxiliar o instrutor na execução do treinamento. Todo material pode ser customizado pelo cliente.
          </li>
          <li>
          Treinamento ministrado pelos profissionais da Compliance Total, além do Pack. Nessa modalidade, o cliente 
          pode optar por utilizar material padrão, customizado ou completamente novo.
          </li>
        

      </ul>

      <h3>Desafios dos Treinamentos Presenciais:</h3>
      <ul>
          <li>Estabelecer treinamentos presenciais para públicos específicos conforme relevância dos temas.</li>
          <li>Elaborar material profissional que aborde os assuntos necessários na dose certa.</li>

      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-treinamentos-treinamentos-presenciais.jpg') %> 
      </div>
    </div>
  </div>
</section>