<section class='nav-mb'>
  <div class='container'>
    <h2>Gestão dos Embaixadores Gestão do Desempenho</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

      <h3>Os seguintes desafios são habitualmente encontrados nas organizações médias e grandes:</h3>
      <ul>
          <li>Manter o Mecanismo de integridade e Compliance efetivo em todos os locais da organização, mesmo os distantes da “Casa Matriz”.</li>
          <li>Ter representantes do Compliance próximos dos colaboradores.</li>
          <li>Ramificar e descentralizar a atuação / operacionalização do Compliance.</li>
      </ul>
      <p>Para vencer essas dificuldades, a Compliance Total sugere a adoção de um conceito testado e aprovado 
      em diversas empresas: o uso dos Embaixadores. Com ele,
       obtém-se a melhor relação custo x benefício no estabelecimento de sua organização e estrutura de Compliance.</p>

      <p>Assim, em formato de kit, para ser aplicado ao longo do ano, fornecemos todas as recomendações para o alcance do sucesso desejado.</p>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-gestao-dos-embaixadores.jpg') %> 
      </div>
    </div>
  </div>
</section>