<section class='nav-mb'>
  <div class='container'>
    <h2>Gestão do Desempenho</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

      <h3>Quando o assunto é Gestão do Compliance, alguns desafios habituais nas empresas vêm à mente:</h3>
      <ul>
          <li>Assegurar e efetividade dos processos de Compliance e identificar lacunas e/ou oportunidades de aprimoramento.</li>
          <li>Estabelecer a melhoria contínua como sustentação do Mecanismo de Integridade e Compliance.</li>
          <li>Assegurar apoio constante da Alta Direção.</li>
      </ul>
      <p>Pensando nisso, a Compliance Total desenvolveu uma sistemática que prevê a análise crítica pela Alta 
      Direção da empresa, cujo foco é apurar o desempenho dos principais processos do Compliance. 
      São previstas reuniões trimestrais e, para elas, são fornecidas pautas dos assuntos a serem tratados.</p>

      <p>São disponibilizados slides e planilhas, para que o usuário insira os dados da sua empresa e, rapidamente,
       sejam gerados gráficos, indicadores e apresentações, para facilitar a discussão,
       análise e tomada de decisão, gerando dessa forma, a melhoria contínua do Mecanismo de Integridade e Compliance.</p>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-gestao-do-desempenho.jpg') %> 
      </div>
    </div>
  </div>
</section>