<section class='nav-mb'>
  <div class='container'>
    <h2>Kit Perfis Profissinais</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

      <h3>Normalmente, as empresas possuem dificuldades para:</h3>
      <ul>
          <li>Identificar, recrutar e manter a pessoa certa para o lugar certo.</li>
          <li>Estabelecer uma referência que permita avaliar o profissional periodicamente,
           para assegurar a sua adequação ao cargo e/ou função.</li>
      
      </ul>
      <p>Assim, o Kit Perfis Profissionais foi desenvolvido para ajudar as organizações vencerem 
      rapidamente esses desafios. Ele contém os requisitos básicos para um profissional desempenhar 
      bem suas funções dentro da organização de Compliance, servindo de base para o recrutamento de
       pessoas e/ou acompanhamento de seus desempenhos.</p>
      <p>Os documentos contam com descrições de cargos como Diretor de Compliance, Embaixador,
       Auditor Interno, Investigador, entre outros, e os perfis necessários de para ocupante, 
       são fornecidos para sua empresa.</p>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-kit-perfis-profissionais.jpg') %> 
      </div>
    </div>
  </div>
</section>