<section class='nav-mb'>
  <div class='container'>
    <h2>Kit Gestão de Riscos</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

      <h3>Configuram-se desafios comuns no ambiente corporativo:</h3>
      <ul>
          <li>Conhecer os riscos relativos ao Compliance que expõem a empresa e seus colaboradores.</li>
          <li>Estabelecer um Mecanismo de Integridade em consonância com a legislação vigente e, ao mesmo
           tempo, que mitigue os riscos de Compliance identificados.</li>
      
      </ul>
      <p>Esse kit fornece uma metodologia para a identificação dos riscos de Compliance, 
      incluindo uma lista dos principais e suas respectivas medidas mitigadoras que,
       se implementadas, formam um Mecanismo de Integridade e Compliance com todos os 
       ingredientes para manter-se efetivo.</p>
      <p>Os documentos desse kit possibilitam que sua empresa se concentre na execução das medidas, 
      sem perda de tempo em atividades burocráticas, de criação ou planejamento, por exemplo. Dessa
       forma, o nosso cliente vence rapidamente seus desafios e dificuldades para implementar 
       seus processos relativos a riscos.</p>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-kit-gestao-de-riscos.jpg') %> 
      </div>
    </div>
  </div>
</section>