<section class='nav-mb'>
  <div class='container'>
    <h2>Kit Documentação</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">

      <h3>Quando o assunto é Documentação de Compliance, as seguintes dificuldades
       normalmente são encontradas nas empresas:</h3>
      <ul>
          <li>Sistematizar todas as atividades de Compliance e elaborar procedimentos para os processos.</li>
          <li>Estabelecer controles para avaliar a efetividade dos processos.</li>
          <li>Criar estrutura de documentos profissional.</li>
      
      </ul>
      <p>A Compliance Total desenvolveu, então, o Kit Documentação, para atender às necessidades de seus clientes. 
      Esse kit é composto por um conjunto de documentos elaborados para o pleno atendimento das leis, decretos,
       guidelines e normas relativas ao assunto,
       tais como DSC 10.000 (Diretrizes para o Sistema de Compliance) e ISO 37.001 (Norma Antissuborno).</p>

      <p>Os documentos contam com descrições de cargos como Diretor de Compliance, Embaixador, Auditor Interno, 
      Investigador, entre outros, e os perfis necessários de para ocupante, são fornecidos para sua empresa.</p>

           <h3 class="pt-4">Identificados e organizados de forma inteligente e correlacionada, os arquivos estão dispostos entre:</h3>
      <ul>
          <li>Mais de 30 Procedimentos descrevem os processos, atividades e rotinas de Compliance, incluindo templates e formulários sugeridos
           para dar sustentação prática aos requisitos básicos do código de conduta.</li>
          <li>Mais de 30 Controles/testes orientam o executor com intuito de comprovar a efetividade do respectivo processo.</li>
          <li>Mais de 60 Registros são sugeridos para demonstrar a conformidade da prática com o procedimento.</li>
          <li>Uma lista mestra de documentos, apresentando a interligação entre eles.</li>
      
      </ul>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-kit-documentacao.jpg') %> 
      </div>
    </div>
  </div>
</section>