<section class='nav-mb'>
  <div class='container'>
    <h2>Sistema de Pesquisas</h2>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
 
      <p>Medir a efetividade de determinados processos de Compliance consiste em dificuldade generalizada entre
       as empresas. Também não é tarefa simples estabelecer rotinas de pesquisas sobre Compliance com a 
       frequência necessária, sem, contudo, saturar a organização.</p>

      <p>Assim, a Compliance Total oferece uma solução para resolver esses problemas. A ferramenta 
      possibilita a aplicação de pesquisas online e extração de relatórios gerenciais para o 
      Compliance Officer. Os questionários são previamente elaborados, requerendo pequeno investimento 
      de tempo dos respondentes e, ainda assim, assegurar resultados conclusivos e eficientes para a 
      medição do desempenho dos processos em questão.</p>

      <p>Para tal, são fornecidos acessos em plataforma própria da Compliance Total, possibilitando 
           o estabelecimento, aplicação e gerenciamento das pesquisas.</p>


      </div>
      <div class="col-sm-12 col-md-6  col-lg-6">
        <%= image_tag('solucoes-gestao-sistema-de-pesquisas.jpg') %> 
      </div>
    </div>
  </div>
</section>