<section class='nav-mb'>
  <div class='container'>
  <h2>Canal de Denúncias</h2>
  <hr>
  <div class='row'>
    <div class='col-sm-12 col-md-6 col-lg-6'>
      <p>O Canal de Denúncias consiste num elemento essencial para assegurar efetividade do Mecanismo de Integridade e Compliance. Visando garantir a melhor solução para os nossos clientes, oferecemos o Canal de Ética – Contato Seguro: confidencialidade, 24h/7dias na semana, atendimento 100% por psicólogas, total segurança na proteção dos dados, triagem das alegações, relatórios gerenciais, avaliação legal, etc.</p>
      <p>
        A Contato Seguro, empresa coirmã da Compliance Total e responsável pelo canal, é a única genuinamente especializada em implementação e gestão de canais de denúncia no Brasil. Todos os serviços disponibilizados são executados com o mais alto padrão de qualidade, para que a sua empresa atue de forma preventiva, evitando surpresas envolvendo más práticas e irregularidades por parte de seus colaboradores, terceiros e stakeholders.
      </p>

      <h4>Conheça as vantagens do Canal de Denúncias</h4>
      <ul>
        <li>Combate e mitiga fraudes e más práticas.</li>
        <li>Imagem positiva perante o mercado e investidores Imagem positiva perante o mercado e investidores.</li>
        <li>Transparência da gestão Transparência da gestão.</li>
        <li>Identifica e reduz os riscos do negócio Identifica e reduz os riscos do negócio.</li>
        <li>Fortalece monitoramento e controles Fortalece monitoramento e controles.</li>
        <li>Maximiza os lucros Maximiza os lucros.</li>
        <li>Reduz o passivo judicial Reduz o passivo judicial.</lI>
        <li>Assegura o cumprimento de leis e regulamentos Assegura o cumprimento de leis e regulamentos.</li>
        <li>Melhora o ambiente de trabalho Melhora o ambiente de trabalho.</li>
      </ul>
    </div>
    <div class='col-sm-12 col-md-6 col-lg-6'>
      <figure>
        <%= image_tag('contato-seguro-canal-de-etica.png') %>
      </figure>
    </div>
  </div>
</div>
</section>