<section class='nav-mb'>
  <div class='container'>


    <div class="row">
      <div class="col-12">
          <h2>Mentoring CT ®</h2>
    <hr>
        <p>
        A <%= setting[:name] %> desenvolveu uma solução inédita, inovadora e eficiente para a implementação de Mecanismos de Integridade nas empresas, de forma rápida, profissional e com baixíssimo investimento. Esta solução, configura-se num processo de consultoria assistida e colaborativa para desenvolvimento ou aprimoramento de Sistemas de Compliance/Mecanismos de Integridade, customizados de acordo com a natureza, porte e riscos das organizações.
      </p>
      <p>
        A sua dinâmica é a seguinte:
      </p>

      <ul>
        <li>Os participantes são escolhidos com base num perfil pré-determinado.</li>
        <li>Recebem material teórico para estudo prévio.</li>
        <li>Reúnem-se, durante 6 meses, uma vez por mês, para receberem instruções práticas diretamente de um especialista no assunto (sessões de 9 horas cada).</li>
        <li>Além das instruções, recebem cronograma mensal das tarefas, procedimentos, ferramentas e todo material, para ser customizado e facilitar a implementação.</li>
        <li>O conteúdo é composto por 40 módulos que, uma vez cumpridos, significam o Mecanismo de Integridade funcionando, conforme figura a seguir:</li>
      </ul>
      </div>
   
      <div class="col-12">
        <figure>
          <%= image_tag('fluxo-mentoring.png') %>
        </figure>
      </div>
          
    
      <div class="col-12">
      <p>
        Ao implementar o Mecanismo de Integridade por meio do Mentoring CT®, a empresa torna-se apta para:
      </p>
      <p>
        <strong>DSC 10.000</strong><br>
        Obter a certificação segundo a DSC 10.000 (Diretrizes para o Sistema de Compliance - primeira norma de Compliance do Brasil).<br>

        <strong>ISO 37.001</strong><br>
        Obter a certificação segundo ISO 37.001 (Norma Internacional de Antissuborno).<br>

        <strong>Lei 12.846/13</strong><br>
        Demonstrar o seu total alinhamento com os requisitos da Lei 12.846/13 e seu Decreto 8.420/15.<br>
      </p>
      <p>
        Além disso, o participante recebe treinamentos de capacitação em diversos temas, como formação de investigadores internos, formação de auditores internos de Compliance, formação de Instrutores de Compliance. Assim, juntamente com as demais instruções, troca de experiências, orientações, trabalhos práticos e estudos do Mentoring CT®, o participante é preparado e qualificado para exercer o papel de “Compliance Officer” no dia a dia da sua empresa, não apenas na fase de implementação do Mecanismo de integridade, mas também na sua manutenção e aprimoramento.
      </p>
    </div>

  </div>
</div>
<div>
    
</section>
<section>
  <div class='container'>
      <h2>O que os participantes do Mentoring CT ® recebem</h2>
      <p>
        Os participantes recebem, sem custo adicional, tudo para a implementação e manutenção do seu Mecanismo de Integridade. Todo material poderá ser customizado, de acordo com sua necessidade:
      </p>
    <div class= 'row'>
      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Risk Assessment</h4>
        <p>Metodologia completa para a sua realização, incluindo sugestão dos riscos e suas medidas mitigadoras.</p>
      </div>

      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Código de Conduta</h4>
        <p>Metodologia para elaboração, contendo uma versão genérica com redação pronta para cada tópico importante, em sintonia com as melhores práticas.</p>
      </div>

      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Processos e Controles</h4>
        <p>Proposta de políticas prontas, com critérios estabelecidos, procedimentos definidos, controles desenhados (com amostras, formulários, periodicidade, etc.) e registros esperados (incluindo os templates).</p>
      </div>

      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Ferramentas</h4>
        <p>Canal de Denúncia profissional, ferramentas para pesquisas e investigação, EAD (Ensino à Distância), diversas planilhas e aplicativos para gestão, acompanhamento e realização dos processos aplicáveis.</p>
      </div>

      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Gestão</h4>
        <p>Slides e plataformas para análise do desempenho, monitoramento, auditorias internas e todos os demais elementos necessários.</p>
      </div>

      <div class='col-sm-12 col-md-4 col-lg-4'>
        <h4>Integrity Plus</h4>
        <p>I-Plus, ferramenta inovadora para assegurar a efetividade da comunicação e treinamento, além de diversas outras funcionalidades, com interação a aplicativos móveis.</p>
      </div>
    </div>
  </div>
</section>