<h1>Editing Backoffice Compliance</h1>

<%= render 'form', backoffice_compliance: @backoffice_compliance %>

<%= link_to 'Show', @backoffice_compliance %> |
<%= link_to 'Back', backoffice_compliances_path %>
